.item {
  max-width: 100%;
  font-family: inherit;
  list-style: none;
  border-bottom: solid 1px var(--rose-100);
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

.item__thumbnail {
  flex-shrink: 0;
  aspect-ratio: 1;
  height: 3rem;
  width: auto;
  border-radius: 0.25rem;
}

.item__left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item__info {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.item__name {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 0.95rem;
  line-height: 1;
}

.item__pricing {
  display: flex;
  column-gap: 0.25rem;

  font-size: 0.85rem;
  white-space: nowrap;
  flex-wrap: wrap;
}

.item__quantity {
  color: var(--orange-700);
  font-weight: 600;
}

.item__price {
  color: var(--rose-400);
}

.item__total {
  color: var(--rose-900);
  font-weight: 600;
}

.item__delete {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.15rem;
  border: solid 1.5px var(--rose-300);
  cursor: pointer;
  transition: border-color 0.35s ease;
}

.item__delete svg {
  width: 0.675rem;
  height: auto;
}

.item__delete path {
  fill: var(--rose-300);
  transition: fill 0.35s ease;
}

.item__delete:hover,
.item__delete:hover svg path {
  fill: var(--rose-900);
  border-color: var(--rose-900);
}

@media screen and (max-width: 350px) {
  .item {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.35rem;
  }
}
