.cart {
  background-color: var(--white);
  padding: 1.75rem;
  border-radius: 1rem;
  max-height: 93dvh;
  overflow-y: auto;
}

.cart::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

.cart::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 1rem;
}

.cart__title {
  color: var(--orange-700);
  font-family: inherit;
  font-size: clamp(1.25rem, 2vw, 1.65rem);
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 0.65rem;
}

.cart__confirm {
  width: 100%;
}

.cart__advice {
  font-family: inherit;
  width: 100%;
  padding: 1rem;
  background-color: var(--rose-50);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
  margin-bottom: 1.25rem;
}

.cart__advice span {
  font-size: clamp(0.875rem, 1vw, 0.95rem);
}

.cart__advice b {
  font-weight: 600;
}

.cart__advice svg {
  flex-shrink: 0;
  width: 20px;
  height: auto;
}

.cart__content--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  color: var(--rose-500);
  font-family: inherit;
  font-weight: 500;
  font-size: clamp(0.95rem, 1vw, 1rem);
  text-align: center;

  margin-block: 1.5rem 0.75rem;
}

.cart__content--empty svg {
  width: 9.375rem;
  height: auto;
}

.cart__total-container {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1.5rem;
}

.cart__total-label {
  font-size: clamp(0.9rem, 1vw, 1rem);
}

.cart__total {
  font-size: 1.35rem;
  font-weight: 700;
  color: var(--rose-900);
}
