.item {
  font-family: inherit;
  list-style: none;
  border-bottom: solid 1px var(--gray);
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.45rem;
}

.item__name {
  font-weight: 600;
  font-size: 1.05rem;
}

.item__pricing {
  display: flex;
  gap: 0.45rem;
  font-size: 0.96rem;
  white-space: nowrap;
}

.item__quantity {
  color: var(--orange-700);
  font-weight: 600;
}

.item__price,
.item__total {
  color: var(--rose-400);
}

.item__total {
  font-weight: 500;
}

.item__actions {
  flex-shrink: 0;
}

.item__delete {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.15rem;
  border: solid 1.5px var(--rose-300);
  cursor: pointer;
  transition: border-color 0.35s ease;
}

.item__delete svg {
  width: 0.675rem;
  height: auto;
}

.item__delete path {
  fill: var(--rose-300);
  transition: fill 0.35s ease;
}

.item__delete:hover,
.item__delete:hover svg path {
  fill: var(--rose-900);
  border-color: var(--rose-900);
}
