.product-list__category-title {
  font-size: 2.15rem;
  line-height: 1;
  color: var(--rose-900);
  margin-bottom: 2rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-flow: row;
  gap: 2rem 1.5rem;
}
